@import 'scss/general';
@import 'bootstrap/scss/bootstrap.scss';

$paragraph-blue: blue;

p{
    color: $paragraph-blue;
}

// style for search input
#search{
    word-spacing: -3px;
    box-shadow: none;
    border: none;
    font-weight: bold;
    direction: rtl;
}

// styles for show most visited and populare movies
.min-height-300{
    height: 130px;
    
}

.b-0{
    bottom: 0;
}
.l-50{
    left:50px
}