@font-face {
    font-family: 'Bnazanin';
    src: url('./fonts/nazanin/Bahij Nazanin/Bahij\ Nazanin-Regular.ttf') format('ttf'),
    url('./fonts/nazanin/Bahij Nazanin/Bahij\ Nazanin-Bold.ttf') format('ttf');
    font-style: normal;
}

* {
    font-size: large;
    color: red;

}

body {
    font-family: 'Bnazanin';
    box-sizing: border-box;
    /* background: url('./women.jpg');
    background-repeat: no-repeat; */

}
.dir-rtl{
    direction: rtl !important;
}

.dir-ltr{
    direction: ltr !important;
}

.bg-navy{
    background-color: rgb(32, 32, 78) !important;
}